<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Node.js Rocks</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Employees Page</h1>
    <p>Showing the list of employees</p>
</body>
</html>